*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-color: black;
    --primary-color:#1DC5CE;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 80px 0px 80px;
    max-width: 1600px;
    margin: 0 auto;
}
.menu{
    display: flex;
    gap: 20px;
    list-style:none ;
    flex-grow: 1;
    margin-left: 80px;
    
}
.menu-items{
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.menu-items a{
    text-decoration: none;
    color: var(--text-color);
}
.menu-items.active a{
    color: var(--primary-color);

}
.menu-items:hover a {
color: var(--primary-color);
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;

}
.icons{
    display: flex;
    gap: 20px;
}
.icons a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color);
}
.icons a :hover{
    color: var(--primary-color);
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.btn-primary{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: rgb(255, 255, 255);
}
.btn-primary:hover{
    background-color: #fff;
    color: var(--primary-color);
    box-shadow: 0cqmin;

}
.login-btn{
    border-radius: 10px;
}
